/* iA Writer Mono Regular */
@font-face {
  font-family: "iA Writer Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./iAWriterMonoS-Regular.woff2") format("woff2");
}

/* iA Writer Mono Bold */
@font-face {
  font-family: "iA Writer Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./iAWriterMonoS-Bold.woff2") format("woff2");
}

/* iA Writer Mono Italic */
@font-face {
  font-family: "iA Writer Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./iAWriterMonoS-Italic.woff2") format("woff2");
}

/* iA Writer Mono Bold Italic */
@font-face {
  font-family: "iA Writer Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./iAWriterMonoS-BoldItalic.woff2") format("woff2");
}
