@import "font.css";

body {
  font-family:
    "iA Writer Mono", "Fira Code", "DejaVu Sans Mono", "Noto Mono",
    "Courier New", monospace;
  background: #fff;
  margin: 0;
  padding: 2rem;
  color: #222;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: 700;
  margin: 0;
}

.banner {
  width: 100%;
  padding: 1ch;
  text-align: center;
  border: 1px solid;
}

.container {
  width: 80ch;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 2ch;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.highlighted {
  background-color: #eeee33ff;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.personal-information {
  text-align: center;
  & h1 {
    list-style: none;
    line-height: 0.5;
    font-weight: 700;
    & pre {
      margin: 0;
    }
  }
  & .title {
    font-weight: 700;
  }
  & .contact-info {
    display: flex;
    flex-direction: row;
    gap: 1ch;
    & span:not(:last-child):after {
      content: " ░▒▓▒░";
    }
  }
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.position {
  &.title {
    font-weight: 900;
    display: inline-block;
  }
  &.company:before {
    content: " @ ";
  }
}

.project {
  &.title {
    font-weight: 900;
    display: inline-block;
  }
  &.company:before {
    content: " @ ";
  }
  &.description {
    font-style: italic;
  }
}

.skills {
  & .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media print {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    width: auto;
    margin: 0;
  }
  .hide-in-print {
    display: none;
  }
}
